@{
    ViewData["Title"] = "Dashboard";
}


<div class="page-header">
    <div>
        <h3>Dashboard</h3>
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ul class="d-flex flex-wrap align-items-center list-unstyled m-0 p-0">
                <li class="me-2">
                    <a href="/" class="text-decoration-none text-dark">
                        <i class="fas fa-home mr-2"></i>@ViewBag.SiteName
                    </a>
                </li>
                <li class="text-muted">
                    <i class="fa-solid fa-angle-right mx-2"></i>Dashboard
                </li>
            </ul>
        </nav>

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Dashboard</h6>
                <p class="text-center">
                    <h1>Comming Soon!</h1>
                </p>
            </div>
        </div>

    </div>
</div>
